USE [master]
GO
/****** Object:  Database [QHRM]    Script Date: 8/14/2024 2:22:14 AM ******/
CREATE DATABASE [QHRM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QHRM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QHRM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QHRM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QHRM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QHRM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QHRM]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/14/2024 2:22:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Price] [float] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Name], [Price], [Description], [CreatedDate]) VALUES (10, N'Product3', 2000, N'Hello , How are you?', CAST(N'2024-08-13T20:11:15.1033333' AS DateTime2))
INSERT [dbo].[Products] ([ID], [Name], [Price], [Description], [CreatedDate]) VALUES (11, N'Product4', 2000, N'Hello , How are you?', CAST(N'2024-08-13T20:12:04.5066667' AS DateTime2))
INSERT [dbo].[Products] ([ID], [Name], [Price], [Description], [CreatedDate]) VALUES (14, N'Product5', 900, N'Hey !', CAST(N'2024-08-13T20:27:50.4866667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
USE [master]
GO
